.container
  button.btn.btn-primary(type="button" ng-click="playerUpdate()") Update
  button.btn.btn-primary(type="button" ng-click="changeSong()") Change
  audio#nt-player(preload="auto" controls)
    source(type="audio/mpeg")