
@import "bootstrap/less/bootstrap";


.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

html, body, .container, .view-container {
  height: 100%;
  width: 100%;
}

body {
  font-family: Garamond, Georgia, "Times New Roman", serif;
  color: darken(#b3b3b3, 6%);
}

h2 {
  font-weight: 200;
  font-size: 24px;
}

body .imgbox {
  max-width: 560px;
  margin: 0 auto;
  .vertical-align;
}

@media (max-width: 768px) {
  h2 {
    font-size: 16px;
  }
}